@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --colornegro: #333333;
  --colorblanco: #ffffff;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding:0.1px;
}
/*************************HEADER*************************/
.header {
  background-color: var(--colornegro);
  position:fixed;
  z-index: 9999;
  width:100%;
}
.subheader {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__heading {
  color: var(--colorblanco);
}
.header__heading i {
  margin-right: 5px;
}
.navbar__menu {
  display: flex;
}
.navlinks {
  list-style: none;
}
.navlink {
  text-decoration: none;
  color: var(--colorblanco);
  display: block;
  padding: 16px 24px;
}
.navlinks:last-child .navlink {
  padding-right: 0;
}
/**********************MEDIA QUERIES**********************/
@media screen and (max-width: 768px) {
.header {
  position:relative;
}
  .subheader {
    max-width: auto;
    flex-direction: column;    
  padding:  8px;
}
.navbar {
    width: 100%;
}
.navbar__menu {
    flex-direction: column;
  }
.navlinks{
    text-align: center;
}
}
/*********************MAIN BANNER*********************/
.main__banner{
    position:relative;
}
.banner__img{
    max-width:100%;
    width:100%;
    object-fit:cover;
    object-position: center;
    height:650px;
}
.banner__description{
    position:absolute;
    top:40%;
    left:5%;
} 
.banner__heading{
    margin-bottom: 10px;
    font-size:35px;
    font-weight:700;
}
.banner__txt{
    margin-bottom: 10px; 
    font-size:18px;
    font-weight:300;
}
.banner__btn{
    text-decoration: none;
    display:inline-block;
    padding:8px 16px;
    border:1px solid black;
    color:var(--colornegro);
    transition:640ms;
}
.banner__btn:hover{
    background-color: rgba(255, 255, 255, 0.658);
}
/*********************MEDIA QUERIES*********************/
@media screen and (max-width:768px){
    .main__banner{
    position:relative;
}
    .banner__img{
    object-position: top;
    height:350px;
}
.banner__description{
    position:absolute;
    top:25%;
    bottom:27%;
    left:20%;
    right:20%;
    margin:auto;
    text-align: center;
    padding:10px;
} 
}
@media screen and (max-width:375px){
.banner__description{
    top:18%;
    left:10%;
    right:10%;
} 
}
/*********************MAIN CLUB*********************/
.main__club{
    max-width:1000px;
    margin:40px auto ;
    padding:0 8px;
}
.submain__club{
    margin-top: 20px;
    margin-bottom: 10px;
}
.club__heading{
    text-align: center;
    font-size:24px;
    margin-bottom: 5px;
}
.club__txt{
    text-align: center;
}
.club__cards{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
}
.club__card{
    flex-basis:300px;
    margin-bottom: 30px;
}
.club__img{
    width:100%;
    height:calc(100% - 20px);
}
.cards__heading{
    text-align: center;
    margin:10px 0 0;
}
.card__descriptio{
    padding:8px 0;
}
.card__paragraph{
    text-align: center;
    font-weight: 700;
}
.club__card:hover .club__img{
    animation: clubimganimado 1.2s ease;
}

@keyframes clubimganimado{
    0%{ transform:scale(1);}
    50%{ transform:scale(1.03);}
    100%{ transform:scale(1);}
}
/*********************MAIN MASCOTAS*********************/
.main__mascotas{
    background-color: var(--colornegro);
    color:var(--colorblanco);
}
.submain__mascotas{
    max-width:1200px;
    margin:0 auto;
    padding:30px 0;
}
.mascotas__heading{
    text-align: center;
}
.mascotas__subheading{
    text-align: center;
    margin-top: 5px;
}
.mascotas__cards{
    margin-top: 50px;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.mascota__card{
    flex-basis: 240px;
    margin-bottom: 20px;
}

.mascota__card:hover .mascota__img{    
    animation: mascotamove 1.9s;
}
@keyframes mascotamove{
    0%{transform:rotate(0);}
    50%{
        transform:rotate(40deg);
        box-shadow:0 1px 2px #fff,
                   0 2px 4px #e2dfdf,
                   0 3px 6px #b4b0b0,
                   0 4px 8px #fff,
                   0 5px 10px #949494;
    }
    100%{transform:rotate(0);}
}
.mascota__img{    
    width:100%;
    height:250px;
    object-fit: cover;
    border-radius: 50%;
}
.mascota__name{
    margin-top: 10px;
}
.mascota__mainname{
    text-align: center;
}
/***********************FOOTER***********************/
.main__footer{
    padding:40px 0;
}
.submain__footer{
  max-width: 900px;
  margin: 0 auto;
  padding: 0 8px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.footer__navlink{
    text-decoration: none;
    font-size:28px;
    padding:0 10px;
    color:var(--colornegro);
}
@media screen and (max-width:375px){
    .submain__footer{
  flex-direction: column;
}
.footer__navbar{
    margin-top: 20px;
}
}